# Python cache
__pycache__

# VS Code editor
.vscode/

# Model output
*nc

# macOS 
.DS_Store

# model figures
*.png

# Model log files
*.log

# Generated API docs output
site/

# Building project locally
pyburgers.egg-info/
